@import 'tailwindcss' ;

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d9e6f9 #eaf1fa;

  /* scrollbar-track-color: #888f8a; */
}
.custom-scroll-1 {
  scrollbar-width: thin;
  scrollbar-color: #d6cbdc #eae4fa;

  /* scrollbar-track-color: #888f8a; */
}
.main-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a89cd6 #d3d9df;

  /* scrollbar-track-color: #888f8a; */
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar { width: 6px; }
.custom-scroll::-webkit-scrollbar-track { background: transparent; }
.custom-scroll::-webkit-scrollbar-thumb { background-color: #58565f; border-radius: 999px; }
.custom-scroll::-webkit-scrollbar-thumb:hover { background-color: #af9dce; }
